@charset "utf-8";*
/* Monoraum JJS 140605 */

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',nanumgothic,'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
button {overflow:visible;border:0 none;background-color:transparent;cursor:pointer}
.blind,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:100px;white-space:nowrap}
.sp {background:url(../img/sp.png) 0 0 no-repeat}
body {position:relative}
hr {display:none}
.ly_warn {z-index:20;position:absolute;right:10px;top:10px;width:150px;padding:10px 10px 8px;border:1px solid #ffd200;background:#fffde0;color:#2d2e29;font-size:12px;letter-spacing:-1px;line-height:16px}

/* background */
.bg_sub_l,.bg_sub_r,.bg_l_2,.bg_r_2 {position:absolute;display:block;width:50%;}
.bg_sub_l {height:150px;top:0px;left:-490px;background:url(../img/sub_l.jpg) 100% 0 no-repeat}
.bg_sub_r {height:150px;top:0px;right:0;background:url(../img/sub_r.jpg) 490px 0 no-repeat}
.bg_l_2 {height:50px;bottom:84px;left:-490px;border-top:2px solid #334555;border-bottom:1px solid #eee}
.bg_r_2 {height:50px;bottom:84px;right:0;border-top:2px solid #334555;border-bottom:1px solid #eee}

/* skip navigation */
#skip_nav a{position:absolute; top:-500px}
#skip_nav a:focus, #skip_nav a:active{top:1px;z-index:99999;display:block;width:100%;height:40px;line-height:40px;font-weight:bold;color:#fff;text-align:center;background-color:#334555}

/* layout */
#container {*zoom:1;overflow:hidden;width:980px;margin:0 auto;background:url(../img/snb_bg.jpg) 0 0 repeat-y}
#container:after {display:block;clear:both;content:''}
#content {width:773px;float:left}

/* header */
#header {position:relative;width:980px;margin:0 auto;height:38px;border-bottom:1px solid #243442;background-color:#334555;*zoom:1}
#header:after {display:block;clear:both;content:''}
h1 {float:left;width:83px;height:38px}
h1 a {display:block;width:83px;height:38px;background-position:0 0}
.gnb {float:right}
.gnb li {float:left;display:inline-block;width:65px;height:38px}
.gnb li a {display:block;width:65px;height:38px;background-position:-86px 0}
.gnb .bg2 {background-position:-421px 0}
.gnb .bg3 {background-position:-153px 0}
.gnb .bg4 {background-position:-220px 0}
.gnb .bg5 {background-position:-287px 0}
.gnb .bg6 {background-position:-354px 0}
.gnb .bg7 {background-position:-421px 0}
.gnb .gnb_more {width:67px;position:relative}
.gnb .more {width:67px;background-position:-488px 0}
.gnb_bx {display:none;z-index:10;position:absolute;top:39px;right:0px;width:692px;height:215px;border:1px solid #718392;border-top:0;background-color:#f9f9f9}
.gnb_bx ul {*zoom:1;padding:21px 0 21px 0;height:134px;background-color:#fff;border-bottom:1px solid #ececec}
.gnb_bx ul:after {display:block;clear:both;content:''}
.gnb_bx li {float:left;padding-left:27px;width:151px;height:134px;border-right:1px solid #ececec}
.gnb_bx .type2 {padding-left:25px;width:151px}
.gnb_bx .type3 {padding-left:24px;width:152px}
.gnb_bx .type4 {padding-left:24px;width:134px;border:0}
.gnb_bx dt {padding-bottom:17px;font-size:14px;line-height:14px;font-weight:bold;letter-spacing:-1px}
.gnb_bx dl a {width:134px;height:22px;font-size:13px;line-height:16px;color:#333;letter-spacing:-1px}
.gnb_bx .ico, .gnb_bx button {font-size:13px;color:#666;letter-spacing:-1px}
.gnb_bx .ico {float:left;padding:10px 0 0 27px;width:87px;height:26px}
.gnb_bx .ico .sp {margin:1px 7px 0 0;display:inline-block;width:10px;height:10px;background-position:-98px -184px}
.gnb_bx button {float:right;padding-left:17px;width:74px;height:38px;text-align:left}
.gnb_bx button .sp {margin:2px 6px 0 0;width:12px;height:12px;display:inline-block;background-position:-110px -184px;vertical-align:top;font-size:0;color:#fff}
.gnb_more .on {display:block}


/* container */
/* snb */
.snb {float:left;width:204px;margin-right:1px;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff}
.snb h2 a {display:block;width:204px;height:120px;background-position:-229px -198px}
.lst_snb {*zoom:1;width:204px;border-bottom:1px solid #ddd}
.lst_snb:after {display:block;clear:both;content:''}
.lst_snb li {position:relative;border-top:1px solid #ddd}
.lst_snb>li>ul>li:first-child>a,.lst_snb>li>ul>li:nth-child(2)>a {color:#ed0000;}
.lst_snb li a {display:block;padding:18px 0 15px 19px;width:184px;font-size:16px;color:#4b4b4b;letter-spacing:-1px;line-height:16px}
.lst_snb li a:hover,.lst_snb li a:focus,.lst_snb .on a {text-decoration:none;color:#ed0000;background-color:#fbfbfb}
.lst_snb li a:hover .sp,.lst_snb li a:focus .sp,.lst_snb .on .sp {position:absolute;display:block;width:9px;height:10px;top:21px;right:-9px;background-position:-130px -170px;z-index:10}
.lst_snb ul li .bg2 {display:inline-block;margin:6px 10px 0 0;width:3px;height:3px;background-color:#8d8d8d;vertical-align:top}
.lst_snb ul li a:hover .bg2,.lst_snb ul li a:focus .bg2 {display:inline-block;margin:6px 10px 0 0;width:3px;height:3px;background-color:#e23c3c;vertical-align:top}
.lst_snb .bg {position:absolute;display:block;width:9px;height:10px;top:21px;right:-9px;background-position:-130px -170px;z-index:10}
.lst_snb .lst_type3  {padding:9px 0 12px 11px;background-color:#fbfbfb}
.lst_snb .lst_type3 a {width:160px;padding:8px 0 6px 9px;font-size:14px;color:#4b4b4b}
.lst_snb .lst_type3 li {border:0}
.lst_type3 .on a {color:#ed0000}
.lst_type3 .on .bg2 {display:inline-block;margin:6px 10px 0 0;width:3px;height:3px;background-color:#e23c3c;vertical-align:top}

/* content */
/* sub1 */
.cont_bg {padding:48px 0 0 30px;height:62px;background:url(../img/sub_top.jpg) 0 0 no-repeat;font-size:16px;letter-spacing:-1px;color:#413c3c;font-weight:bold}
.bx_cont {*zoom:1;margin:20px 0 0 30px;padding-bottom:6px;border-bottom:2px solid #ddd}
.bx_cont:after {display:block;clear:both;content:''}
.bx_cont h3 {margin-left:-2px;float:left;display:inline-block;width:250px;font-size:28px;color:#333;letter-spacing:-2px;font-weight:bold}
.bx_cont .on {color:#b1001a}
.location {display:inline-block;padding-top:10px;float:right;font-size:13px;color:#686868;letter-spacing:-1px}
.location .sp {margin:0 12px 0 15px;display:inline-block;width:6px;height:12px;background-position:-119px -170px;vertical-align:middle}
.cont {padding:0 0 60px 30px}
.cont h4 {margin-left:-3px;padding-top:47px;font-size:32px;color:#de0c0c;letter-spacing:-1px;font-weight:normal}
.cont p {padding-top:23px;font-size:13px;line-height:22px;color:#333;letter-spacing:-1px}
.cont .type {padding-top:2px;font-size:12px;line-height:14px;color:#de0c0c;letter-spacing:-1px}
.lst_type {*zoom:1;padding-top:44px}
.lst_type:after {display:block;clear:both;content:''}
.lst_type h5 {padding:36px 0 0 28px;width:199px;height:75px;background-position:0 -198px;font-size:25px;color:#333;font-weight:normal;letter-spacing:-1px}
.lst_type li {position:relative;float:left;padding-left:30px;width:227px}
.lst_type li:first-child {padding:0}
.lst_type li .bg {margin-right:10px;display:inline-block;width:40px;height:40px;background-position:-350px -86px;vertical-align:middle}
.lst_type li .bg2 {position:absolute;width:9px;height:11px;top:49px;left:11px;background-position:-108px -170px}
.lst_type p {padding-top:25px}
.lst_type .type2 h5 {padding:38px 0 0 23px;width:204px;height:73px}
.lst_type .type3 h5 {padding:28px 0 0 48px;width:179px;height:83px}
.lst_type .type2 .bg {margin:-2px 13px 0 0;width:46px;height:37px;background-position:-392px -86px}
.lst_type .type3 .bg {margin-right:21px;width:47px;height:55px;background-position:-440px -86px}
 
/* sub2 */
.sub_cont2 {padding:0 0 41px 30px}
.sub_cont2 p {padding:39px 0 55px 0;font-size:13px;line-height:24px;letter-spacing:-1px}
.sub_cont2 img {padding-left:57px}
.lst_type2 {*zoom:1;height:47px;padding-top:50px}
.lst_type2:after {display:block;clear:both;content:''}
.lst_type2 h4 {float:left;display:block;width:185px}
.lst_type2 li {*zoom:1;float:left;width:186px;height:45px;line-height:24px;border-bottom:2px solid #de0c0c}
.lst_type2 li:after {display:block;clear:both;content:''}
.lst_type2 li a:hover,.lst_type2 li a:focus,.lst_type2 .on a {width:186px;color:#fff;background-color:#de0c0c;text-decoration:none}
.lst_type2 li a:hover .sp,.lst_type2 li a:focus .sp,.lst_type2 .on .sp {width:0px}
.lst_type2 a {padding-top:10px;display:inline-block;float:left;width:185px;height:35px;font-size:18px;line-height:24px;letter-spacing:-1px;color:#5f5f5f;text-align:center}
.lst_type2 .type {width:185px}
.lst_type2 .sp {float:right;display:block;width:1px;height:25px;vertical-align:middle;background-position:-127px -170px}
.lst_type3 .off {display:none}


/* footer */
#footer {position:relative;width:980px;margin:0 auto;height:135px;border-top:2px solid #334555}
.lst_footer:after {display:block;clear:both;content:''}
.lst_footer {*zoom:1;border:1px solid #eee;border-top:0;border-right:0}
.lst_footer li {float:left;width:489px}
.lst_footer li:first-child {position:relative;border:0}
.lst_footer a {padding-left:18px;display:block;width:471px;height:50px;font-size:13px;line-height:50px}
.lst_footer span {float:left;vertical-align:top;color:#333}
.lst_footer .sp {float:right;display:inline-block;width:56px;height:50px;background-position:-141px -134px}
.lst_footer .type {position:relative}
.lst_footer .type .on {display:block}
.bx_footer,.bx_footer2 {display:none;padding:21px 0 26px 0;position:absolute;bottom:52px;left:-1px;width:692px;height:158px;border:1px solid #334555;background-color:#fff}
.bx_footer li {float:left;padding-left:24px;width:152px;height:158px;border-left:1px solid #ececec}
.bx_footer li:first-child {padding-left:25px;width:153px}
.bx_footer .type2 {padding-left:23px}
.bx_footer .type3 {padding-left:22px;width:137px}
.bx_footer a,.bx_footer2 a {padding:0;width:100%;height:15px;font-size:13px;line-height:15px;color:#333}
.bx_footer dt {padding-bottom:8px;font-size:14px;font-weight:bold}
.bx_footer dd {padding-top:7px}
.bx_footer2 {*zoom:1;padding:24px 0 25px 16px;width:705px;height:153px;left:-234px}
.bx_footer2:after {display:block;clear:both;content:''}
.bx_footer2 li {float:left;padding-left:15px;width:122px;height:154px;border-left:1px solid #ececec}
.bx_footer2 ul li {float:none;padding:7px 0 0 0;width:123px;height:15px;border:0}
.bx_footer2 ul li:first-child {padding-top:3px}

.bx_footer3 {*zoom:1;padding-top:27px}
.bx_footer3:after {display:block;clear:both;content:''}
.bx_footer3 .sp {float:left;display:inline-block;width:62px;height:34px;background-position:0 -134px}
.bx_footer3 .logo2 {float:left;display:inline-block;margin-left:24px;width:75px;height:34px;background-position:-64px -134px}
.bx_footer3 p {float:left;display:inline-block;padding:10px 0 0 23px;vertical-align:top}
.bx_footer3 dl {*zoom:1;width:199px;display:inline-block;float:right}
.bx_footer3 dl:after {display:block;clear:both;content:''}
.bx_footer3 dd {float:left;padding-left:10px}
.bx_footer3 dd .sp {display:block;width:34px;height:34px;background-position:0 -98px}
.bx_footer3 dd .bg2 {background-position:-36px -98px}
.bx_footer3 dd .bg3 {background-position:-72px -98px}
.bx_footer3 dd .bg4 {width:57px;background-position:-108px -98px}