@charset "utf-8";
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.rawgit.com/morijin/morijin.github.io/482aa15a/webfont/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.rawgit.com/morijin/morijin.github.io/482aa15a/webfont/LotteMartDreamLight.woff') format('woff');
}

/*****초기화*****/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'LotteMartDream','나눔고딕',nanumgothic,'돋움',Dotum,AppleGothic,sans-serif;font-size:14px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
button {overflow:visible;border:0 none;background-color:transparent;cursor:pointer}
.blind,legend,body .off{padding:0;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:100px;white-space:nowrap}
.none {display:none;}
.blocker {position:fixed;top:0;bottom:0;right:0;left:0;width:100%;height:100%;overflow:auto;z-index:40;padding:20px;background-color:rgba(0,0,0,0.7);text-align:center;}
body {z-index:10;position:relative;box-sizing:border-box;}
hr {display:none}
/*****초기화*****/
.sp {background:url(../img/sp.png) 0 0 no-repeat}
.close-modal {position:absolute;top:-18px;right:-20px;width:40px;height:40px;display:block;font-size:0;background:url(../img/sp.png) -119px -118px no-repeat;}
/* background */
body {background-color:#000;width:100%;}
#wrap {background:url(../img/bg.jpg) no-repeat center center fixed;background-size:cover;min-height:100%;min-width:1024px;width:100%;height:auto;top:0;left:0}
.container {width:1280px;margin:0 auto}
/* header */
header {width:100%;position:relative;height:86px;background-color:#000;z-index:20;}
.header {width:1280px;height:46px;position:fixed;padding:20px 0;background-color:#000;}
.wrap_header {width:1280px;height:46px;position:fixed;background-color:#fff;border-radius:5px;}
header:after {display:block;clear:both;content:''}
h1 {display:block;float:left;padding:15px 30px}
.wrap_header h2 {display:none;}
.head_logo {width:114px;height:17px;display:block;font-size:0}
.lst_gnb:after {display:block;clear:both;content:''}
.lst_gnb li {float:left;display:block;position:relative;}
.lst_gnb>li {margin-top:8px;}
.lst_gnb>li:first-child {float:left;}
.lst_gnb>li:nth-child(2) {margin-left:170px;}
.lst_gnb>li:nth-child(3) {margin-left:5px;}
.lst_gnb .wish_lst, .lst_gnb .comp {width:46px;height:29px;font-size:0}
.lst_gnb>li:nth-last-child(2) {margin-right:0;}
.lst_gnb>li:nth-last-child(1) {margin-left:5px;}
/*.lst_gnb a {color:#fff;font-family:'BM JUA'}*/
.btn {display:block;width:102px;height:30px;border:1px solid #c9c7f5;border-radius:20px;line-height:30px;text-align:center;color:#4f5b60;font-weight:200;font-size:15px}
.btn:focus {outline:none;} /*버튼 테두리 파란색 없애기*/
.btn:hover {background-color:rgba(256,256,256,0.3);}
.btn .wish_list,.btn .compair {width:21px;height:23px;margin:0 auto;display:block;background-position:-119px -27px;}
.btn .compair {margin-top:4px;width:20px;height:20px;background-position:-142px -30px;}

.btn_search {background-image:gradient(linear, left top, right top, color-stop(0, #9d8bed), color-stop(1,#9cc1d4));background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #9d8bed), color-stop(1,#9cc1d4));color:#fff;border:0;}

/*버튼 클릭시 말풍선*/
.tooltip {display:inline-block;position:absolute;;margin:0 auto;border:1px solid #999;border-radius:5px;background-color:#fff}
.tooltip:before {content:'';position:absolute;border-bottom:10px solid #999;border-right:10px solid transparent;border-left:10px solid transparent;}
.tooltip:after {content:'';position:absolute;border-bottom:10px solid #fff;border-right:10px solid transparent;border-left:10px solid transparent;}

.lst_gnb .login {width:119px;border-color:transparent;}
.lst_gnb .signin {width:119px;height:31px;border:0;line-height:31px;background-image:gradient(linear, left top, right top, color-stop(0, #9e8ef1), color-stop(1,#acd1f3));background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #9e8ef1), color-stop(1,#acd1f3));border-radius:22px;color:#fff;margin-right:30px;}
.lst_gnb .login:hover, .lst_gnb .signin:hover {text-decoration:none;}
.lst_search {display:inline-block}
.lst_search li {padding:0 5px;}
.lst_search .ser_btn {border-color:#dee7eb}
.lst_search .location {height:28px;background-color:transparent;}
/*위치 버튼*/
.container_loca {top:28px;left:-94px;padding:18px 27px;width:263px;height:86px;z-index:30;}
.container_loca:after {top:-9px;left:140px;}
.container_loca:before {top:-10px;left:140px;}
.container_loca.tooltip p {padding-top:18px;font-size:16px;color:#383838;font-weight:200}
.container_loca.tooltip p:first-child {padding:0;}
.lst_search input[type="text"]::-webkit-input-placeholder {color:#4f5b60;}
/*input 안에 들어가는 placeholder 설정 vendor prefixed 필요*/
.lst_search input:focus::-webkit-input-placeholder,textarea:focus::-webkit-placeholder {color:transparent}
/*input에 포커스 했을 때 placeholder내용이 안보이게 처리했다. 크롬 외에 vender prefixed 필요하다*/
/*포커스 됐을 때 placeholder 내용을 바꾸는 걸로 변경할까.. 이건 jQuery 인듯..*/
/*달력 버튼 클릭시*/
.container_calen {top:28px;left:-94px;width:485px;height:229px;z-index:30;}
.container_calen:after {top:-9px;left:140px}
.container_calen:before {top:-10px;left:140px;}
.tooltip .wrap_calendar_left {position:absolute;left:10px;top:10px;width:226px;margin:0 auto;background-color:#fff;border:1px solid #e8eef1;}
.tooltip .wrap_calendar_right {position:absolute;right:10px;top:10px;width:226px;margin:0 auto;background-color:#fff;border:1px solid #e8eef1;}
.tooltip .btn-holder {text-align:center;margin:10px 0 10px 0;font-family:'나눔고딕';font-size:12px}
.tooltip .btn-holder:after {display:block;clear:both;content:''}
.tooltip .btn-holder .sp {margin:0 0 0 5px;float:left;width:11px;height:16px;background-position:-201px -52px;}
#btnNext ,#btnNext2 {margin:0 5px 0 0;float:right;background-position:-214px -52px;}
#calendar table,#calendar2 table {border-collapse:collapse;text-align:center;}
#calendar table thead td,#calendar2 table thead td {height:28px;font-weight:bold;}
.tooltip #calendar table td.date-cell,.tooltip #calendar2 table td.date-cell {height:28px;color:#9faeb4;font-family:'나눔고딕';font-size:12px}
.tooltip #calendar table td.date-cell.click {background-color:#b6b5e0;color:#fff;}
.tooltip #calendar table td.not-this-month,.tooltip #calendar table td.not-this-month {color:#dce1e3;}
/*인원 버튼 클릭시*/
.wrap_guest {padding:13px 20px;top:28px;left:-41px;margin:0 auto;width:147px;height:68px;z-index:20;}
.wrap_guest:after {top:-9px;left:85px}
.wrap_guest:before {top:-10px;left:85px;}
.wrap_guest .bx_adult:after {display:block;clear:both;contet:'';}
.wrap_guest.tooltip button {float:left;width:24px;height:24px;background-position:-266px -26px;font-family:'나눔고딕';font-size:16px}
.wrap_guest button.right {float:right;background-position:-240px -26px;}
.wrap_guest .wrap_text {width:67%;margin:0 auto;display:inline-block;text-align:center;font-family:'나눔고딕';font-size:16px}
.wrap_guest span {text-align:center;line-height:24px;}
.wrap_guest .bx_child {padding-top:18px;}
/*요금범위 클릭시(css 별개)*/
.wrap_range.tooltip {padding:35px 25px;top:28px;left:-75px;width:213px;z-index:30}
.wrap_range:after {top:-9px;left:120px}
.wrap_range:before {top:-10px;left:120px;}
/*위시리스트 클릭시*/
.wrap_wish {padding:15px 20px;top:37px;left:-119px;margin:0 auto;width:260px;height:90px}
.wrap_wish:after {top:-9px;left:132px;}
.wrap_wish:before {top:-10px;left:132px;}
.wrap_wish>p {color:#898989;font-family:'나눔고딕';font-size:16px;}
.wrap_wish>p:nth-child(n+2) {padding-top:15px;}
/*비교바구니 HOVER & 클릭시*/
.wrap_comp {display:none;}
.comp:hover .wrap_comp {display:block;padding:3px 7px 7px;top:37px;left:-16px;width:65px;height:25px;color:#4f5b60;font-family:'나눔고딕';letter-spacing:-1px}
.comp:hover .wrap_comp:after {top:-10px;left:29px}
.comp:hover .wrap_comp:before {top:-10px;left:29px}
.comp .wrap_comp {font-size:14px;}
.pop_comp {position:relative;display:inline-block;margin-top:116px;padding:17px 0;width:754px;height:524px;background-color:#fff;border-radius:5px;box-shadow:0 0 10px #000;}
.pop_comp h3, .pop_comp>span {display:block;text-align:left}
.pop_comp h3>span {clear:both;line-height:25px;}
.pop_comp h3 {padding:6px 0 0 21px;border-top:4px solid #0054a6;border-bottom:4px solid #0054a6;}
.pop_comp .pop_icon01 {margin-right:10px;display:block;float:left;width:20px;height:20px;background-position:-142px -30px;}
.pop_comp>span {padding:10px 0 10px 38px;font-size:14px;font-weight:200;letter-spacing:-0.5px;color:#898989;}
.pop_comp:after {display:block;clear:both;content:'';}
.pop_comp .type01 {position:relative;float:left;margin-left:22px;width:210px;min-height:432px;border:1px dashed #959595;box-sizing:border-box;}
.pop_comp .bx_comp_01 {margin-left:37px;}
.pop_comp .bx_comp_01 h4 {position:absolute;top:132px;left:9px;font-size:16px;}
.lst_detail>li {padding:10px 9px;border-bottom:1px dashed #959595;text-align:left;font-weight:200;color:#898989;line-height:16px;}
.lst_detail>li:first-child {padding:0;font-size:0;}
.lst_detail>li:nth-child(2) {padding-top:33px;}
.lst_detail>li:last-child {border-bottom:0;}
.lst_detail .img_detail {width:208px;height:120px;display:block;background:url(../img/compair01.jpg) 0 0 no-repeat;}
.lst_detail .num_detail li {display:inline-block;}
.lst_detail .num_detail li:nth-child(1):before {content:'';}
.lst_detail .num_detail li:before {content:'/ ';}
.lst_detail .num_detail, .lst_detail .cash_detail {font-family:'나눔고딕';font-weight:400;letter-spacing:-0.7px;}
/*로그인 버튼 클릭시..*/
/*psd 파일이 introduce에 있음*/
.wrap_login.tooltip {position:relative;display:inline-block;margin-top:116px;padding:56px 30px 0 30px;width:310px;height:352px;z-index:30}
.wrap_login:after {border-bottom:0;}
.wrap_login:before {border-bottom:0;}
.wrap_login strong,.wrap_signin strong {background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #9cc1d4), color-stop(1, #9d8bed));background-image: gradient( linear, left top, right top, color-stop(0, #9cc1d4), color-stop(1, #9d8bed));color:transparent;-webkit-background-clip: text;background-clip: text;font-size:24px;text-align:center;display:inline-block;} 
/*텍스트 그라데이션효과 background로 배경이 깔려서 padding을 주면 효과가 안따라온다*/
.wrap_login input {margin-top:53px;width:300px;height:35px;display:inline-block;border:1px solid #dee7eb;border-radius:5px;padding-left:10px;}
.wrap_login input:nth-child(2) {margin-top:19px;}
.wrap_login input::-webkit-input-placeholder {color:#72848c;font-weight:200;}
.wrap_login .forgot {padding-top:25px;}
.wrap_login form a,.wrap_login .forgot,.wrap_signin form a {color:#72848c;font-family:'LotteMartDream';text-align:center;font-weight:200;}
.btn_login,.btn_singin {margin-top:24px;width:310px;height:42px;background-image:gradient(linear, left top, right top, color-stop(0, #9d8bed), color-stop(1,#9cc1d4));background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #9d8bed), color-stop(1,#9cc1d4));border-radius:22px;color:#fff;}
.wrap_login .ch_singin {padding-top:30px;text-align:center;}
/*.wrap_login .close-modal {display:inline-block;padding-top:10px;color:#000;}*/
/*sign in*/
.wrap_signin.tooltip {position:relative;display:inline-block;margin-top:116px;padding:47px 44px 0 44px;width:310px;height:443px;}
.wrap_signin:after {border-bottom:0;}
.wrap_signin:before {border-bottom:0;}
.wrap_signin strong {background-image:gradient(linear, left top, right top, color-stop(0, #9d8bed), color-stop(1,#9cc1d4));background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #9d8bed), color-stop(1,#9cc1d4));}
.wrap_signin form>input {margin-top:19px;padding-left:10px;width:300px;height:35px;color:#72848c;font-weight:200;border:1px solid #dee7eb;border-radius:5px;}
.wrap_signin form>input:first-child {margin-top:35px;}
/*체크박스*/
.wrap_signin input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}/*기존 체크박스를 안보이게*/
.wrap_signin input[type="checkbox"] + label {display: inline-block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
/*가상체크박스 만들어주기*/
.wrap_signin input[type="checkbox"] + label:before {content: ' '; display: inline-block; width: 12px; /* 체크박스의 너비를 지정 */ height: 12px; /* 체크박스의 높이를 지정 */ line-height: 12px; /* 세로정렬을 위해 높이값과 일치 */ margin: -2px 8px 0 0; text-align: center; vertical-align: middle; background: #8771ee;}
.wrap_signin input[type="checkbox"]:checked ~ label:before { /* 체크박스를 체크했을때 */ content: '\2714'; /* 체크표시 유니코드 사용 */ color: #fff;font-size:10px; text-shadow: 1px 1px #fff; background: #8771ee;}
.wrap_signin form>div {padding-top:20px;position:relative;text-align:center}
.wrap_signin .wrap_terms {padding-top:14px;}
.wrap_privacy a, .wrap_terms a {color:#72848c;font-family:'LotteMartDream';font-weight:200;}
.wrap_signin label {color:#72848c;cursor:pointer;font-weight:200;}
.wrap_signin .btn_singin {font-size:16px;}

/*sub_intro section*/
.sub_intro h2 {text-indent:-5555px;font-size:0;}
.sub_intro>ul {position:relative;}
.sub_intro>ul:after {display:block;clear:both;content:'';}
.sub_intro>ul>li {position:relative;float:left;width:1280px;height:814px;background:url(../img/banner_06.jpg);}
.sub_intro .intro2 {background:url(../img/banner_02.jpg);}
.sub_intro p {margin-left:32%;padding-top:210px;font-weight:300;color:#fff;font-size:42px;}
.sub_intro li p+p {margin-left:36%;padding-top:18px;font-size:36px;letter-spacing:-3px}
/*.intro .sub_logo {margin:52px 0 0 100px;display:block;width:287px;height:41px;background-position:0 -184px;}*/
.sub_intro .bar01 {position:absolute;top:20%;display:block;width:285px;height:17px;background:url(../img/intro01.png) no-repeat 0 0;}
.sub_intro .bar02 {left:auto;left:1036px;top:39%;width:244px;background:url(../img/intro02.png);}
.intro2 .bar01 {left:200px;}
.intro2 .bar02 {left:auto;right:270px;}

/*검색결과 section*/
.wrap_search {width:100%;}
/*content 부분*/
.wrap_search .wrap_content,.wrap_search .wrap_paging {padding-left:500px;width:61%;right:auto}
.wrap_column:nth-child(n+3) {margin-top:20px}
.wrap_column:after {display:block;clear:both;content:'';}
.wrap_content .bx_cont {position:relative;float:left;width:380px;height:500px;background-color:#fff;border-radius:5px;}
.wrap_content .bx_cont:nth-child(2) {margin-left:20px;}
.bx_cont .cont_img {display:block;width:100%;height:330px;border-radius:5px 5px 0 0;}
.bx_cont .img_type {width:100%;height:330px;border-radius:5px 5px 0 0;float:left;}
.wrap_column .cont_img>ul {position:relative;}
/*.content01 .img_item02 {background:url(../img/content_02.jpg);} 
.content01 .img_item03 {background:url(../img/content_03.jpg);}
.content01 .img_item04 {background:url(../img/content_04.jpg);}*/
.bx_cont .cont_cash {position:absolute;right:10px;top:290px;;display:block;background-color:#383838;color:#fff;font-size:25px;text-align:center;font-family:'나눔고딕';letter-spacing:-2px;font-weight:500;}
.bx_cont h3 {position:absolute;bottom:132px;left:30px;color:#272727;font-size:24px;font-weight:400;}
.bx_cont .btn_img {}
.mixslider-arrow {position:absolute;top:157px;left:0;width:36px;height:36px;display:inline-block;background:url(../img/sp.png)-227px -52px no-repeat;cursor:pointer;font-size:0;}
.mixslider-arrow.next {left:auto;right:0;background-position:-265px -52px}
.bx_cont p {padding:50px 0 0 30px;width:318px;height:36px;color:#686868;font-size:16px;line-height:18px;font-weight:200;}
.wrap_review {display:block;margin:14px 0 0 32px;}
.wrap_review:hover {text-decoration:none;}
.wrap_rating, .point {display:inline-block;width:74px;height:9px;background:url(../img/sp.png) no-repeat -119px 0;overflow:hidden;}
.wrap_rating .point {font-size:0;line-height:0;text-indent:-5555px;background-position:-119px -9px;vertical-align:top;}
.wrap_review .count_review {font-size:10px;font-family:'나눔고딕';color:#72848c;}
.cont_btn {display:inline-block;margin:12px 0 0 55px;width:127px;height:31px;border:1px solid #dee7eb;box-sizing:border-box;background-color:#8c89e6;border-radius:20px;color:#fff;font-size:18px;font-weight:200;line-height:31px;text-align:center;}
.cont_btn.btn_wishlist {margin-left:19px;background-color:#5cc1f9;}
/*paging number*/
.wrap_paging {padding-top:20px;}
.wrap_paging .bx_paging {width:100%;height:50px;background-color:#fff;border-radius:5px;}
.wrap_paging .lst_paging {width:365px;margin:0 auto;}
.wrap_paging .lst_paging:after {display:block;clear:both;content:'';}
.wrap_paging .lst_paging>li {float:left;padding-left:38px;}
.wrap_paging .lst_paging>li>a, .ellip {display:inline-block;line-height:50px;font-family:'나눔고딕';font-weight:800;letter-spacing:-2px;}
.wrap_paging .ellip {letter-spacing:2px;}
.wrap_paging .btn_page span {display:block;margin-top:17px;width:9px;height:16px;background-position:-179px -52px;}
.wrap_paging .btn_page .next {background-position:-168px -52px;}
/*지도 노출 부분*/
.wrap_search .wrap_map {width:480px;position:fixed;left:auto;top:86px;}
.bx_map {background-color:#fff;border-radius:5px;}


/*아이템 section*/
.wrap_item {position:relative;width:1280px;background-color:#fff;border-radius:5px;}
.wrap_item:after {display:block;clear:both;content:'';}
.wrap_item h2 {position:absolute;top:440px;left:31px;}
.bx_01 {padding:30px 0 0 30px;width:800px;float:left;}
.bx_01 h3 {font-size:0;}
.bx_02 {padding-right:30px;float:right;width:370px;height:750px}
/*이미지 슬라이드*/
.bx_slider {position:relative;width:800px;height:415px;box-shadow: 3px 3px 3px #888888;}
.bx_slider .btn_slide {position:absolute;top:145px;left:-17px;width:36px;height:36px;background-position:-227px -52px;font-size:0;}
.btn_slide.next {left:auto;right:-17px;background-position:-265px -52px;}
/*상세내용*/
.bx_button {border-bottom:1px solid #adacac;}
.bx_button .btn_compair {margin:15px 0 8px 500px;}
.bx_01 p,.item_address dd {font-weight:200;color:#686868;line-height:18px;}
.item_address {padding:12px 0 8px;border-bottom:1px solid #abacac;}
.item_address dt {font-size:0;}
.item_description {padding:18px 0;border-bottom:1px solid #abacac;}
.item_description p:nth-child(n+2) {padding-top:24px;}
.item_option {width:190px;padding:7px 0;}
.item_option:after {display:block;clear:both;content:'';}
.item_option dt {float:left;padding:11px 0 4px}
.item_option dd:after {display:block;clear:both;content:'';}
.item_option dd {margin-top:2px;float:right;width:25px;height:26px;background-position:-213px -24px;font-size:0;}
.item_option dd.icon_n {background-position:-186px -24px;}
.item_review .wrap_review {margin:5px 0 30px 0;}
/*상세요금*/
.bx_02 h3 {font-size:0;text-indent:-5555px;}
.bx_pay {width:352px;}
.bx_pay:after {display:block;clear:both;content:'';}
.bx_pay dt:nth-child(1),.bx_pay dd:nth-child(2) {margin-top:89px;border-top:1px dashed #898989;}
.bx_pay dt,.bx_pay dd {padding:12px 0 9px;float:left;border-bottom:1px dashed #898989;color:#272727;font-size:20px;font-weight:400;font-family:'나눔고딕';}
.bx_pay dt {text-align:left;width:88px;}
.bx_pay dd {text-align:left;width:264px;}
.bx_pay .date {width:132px;}
.bx_02 .btn_reserve {display:inline-block;margin-top:35px;width:350px;height:40px;background-color:#ff7ab6;border-radius:20px;color:#fff;text-align:center;line-height:40px;font-size:22px;font-weight:300;letter-spacing:6px;cursor:pointer}
.btn_reserve:hover {text-decoration:none;}
/*위치*/
.wrap_map2 {margin-top:59px;width:370px;}
.wrap_map2 h4 {color:#282828;font-size:18px;font-weight:200;line-height:28px;}
.wrap_map2 .icon07 {margin-right:10px;display:block;float:left;font-size:0;width:20px;height:24px;background-position:-164px -26px;}
.wrap_map2 .bx_map {margin-top:3px;background-color:#0fe;}
/* footer */
footer {width:1280px;padding-top:54px;margin:0 auto;background-color:#000;color:#97a9b2;font-size:16px}
footer a {color:#97a9b2;font-size:16px}
.foot_logo {display:block;margin:0 auto;width:174px;height:25px;background-position:0 -227px;font-size:0}
.lst_footmenu {width:100%;padding-top:26px;text-align:center}
.lst_footmenu li {display:inline-block}
.lst_footmenu li:nth-child(1) a:hover {background-color:rgba(256,256,256,0.3);}
.lst_footmenu a {display:inline-block;padding:5px 13px}
address {padding-top:12px;text-align:center}
.address {display:inline-block}
.lst_social {padding-top:24px;text-align:center}
.lst_social li {display:inline-block}
.lst_social a {display:inline-block;width:30px;height:30px;background-position:-1px -119px;font-size:0;}
.lst_social .icon02 {background-position:-33px -119px;}
.lst_social .icon03 {background-position:-65px -119px;}
.copyright {padding:32px 0 54px;margin:0 auto;font-size:12px;text-align:center}